body {
    z-index: 0;
    background: repeating-linear-gradient( 0deg, white, white 50px, #018749 50px, #018749 200px);
}

#main {
    z-index: 2;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(60, 60, 60, 0.651);
}

#main h1 {
    text-align: center;
}